PORT=4100

NEW_DUBRIGHT_DB_HOST=127.0.0.1
NEW_DUBRIGHT_DB_PORT=3306
NEW_DUBRIGHT_DB_USERNAME=new_dubright
NEW_DUBRIGHT_DB_PASSWORD=
NEW_DUBRIGHT_DB_DATABASE=new_dubright

NEW_DUBRIGHT_AWS_BUCKET_NAME=
NEW_DUBRIGHT_AWS_REGION=ap-northeast-2
NEW_DUBRIGHT_AWS_URL=
NEW_DUBRIGHT_AWS_ACCESS_KEY_ID=
NEW_DUBRIGHT_AWS_SECRET_ACCESS_KEY=
