PORT=4100

ECHOCAST_DB_HOST=127.0.0.1
ECHOCAST_DB_PORT=3306
ECHOCAST_DB_USERNAME=echocast
ECHOCAST_DB_PASSWORD=
ECHOCAST_DB_DATABASE=echocast

ECHOCAST_AWS_BUCKET_NAME=
ECHOCAST_AWS_REGION=ap-northeast-2
ECHOCAST_AWS_URL=
ECHOCAST_AWS_ACCESS_KEY_ID=
ECHOCAST_AWS_SECRET_ACCESS_KEY=
